#spn_wishlist_btn{
    padding: 1rem 2rem;
    border: thin #ccc solid;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    background-color: transparent;
    border-radius: 30px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#spn_wishlist_btn div{
  display: flex;
}
#spn_wishlist_btn p{
  font-size: 120%;
  margin-left: 0.5rem;
}
.spn_active{
  color: white;
  border-color: #D6F989 !important;
  background-color: #D6F989 !important;
}


.wish_cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,0.3fr));
    gap: 1rem;   
}


.pro_img{
    width: 100%;
    /* aspect-ratio: 1/1; */
}
.fil_img{
    /* border-radius: 2rem; */
}
.fil_cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,0.3fr));
    gap: 1rem;   
    flex: 1;
    width: 85%;
    transition: all 500ms;
    justify-content: center;
}

.range-input {
    -webkit-appearance: none;
    appearance: none; 
    width: 70%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /* height: 6px; */
    /* background: #ccc; */
    background-color: rgba(255, 255, 255, 0);
  }
  
  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 25px;
    width: 25px;
    background-color: rgba(214, 249, 137, 1);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
  }
  
  .range-input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: rgba(214, 249, 137, 1);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
  }
  
  .range-input::-moz-range-progress {
    background-color: rgba(214, 249, 137, 1); 
  }

  .range-input::-ms-fill-lower {
    background-color: rgba(214, 249, 137, 1); 
  }

  .range-input::-moz-range-track {  
    background-color: #ccc;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .range-input{
      background: linear-gradient(to right, rgba(214, 249, 137, 1) 0%, rgba(214, 249, 137, 1) 0%, #ccc 0%, #ccc 100%);
      /* border: solid 1px rgba(214, 249, 137, 1); */
      border-radius: 8px;
      height: 7px;
      /* width: 356px; */
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;
      margin: 2rem;
    }
  }
  .progress_button{
    border: none !important;
    padding: 1rem 2rem !important;
  }
  .continue_button{
    background-color: rgba(214, 249, 137, 1) !important;
    align-self: flex-end;
    margin-right: 10%;
    color: #fff;
  }
  .discover_btn{
    background-color: rgba(214, 249, 137, 1) !important;
    color: #fff;
  }
  .back_button{
    background-color: #ccc !important;
    align-self: flex-start;
    margin-left: 10%;
    color: rgba(0,0,0,0.7);
  }
.filter_page{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

.hide{
  position: absolute;
  z-index: -10;
  opacity: 0;
}

@media (min-width: 1000px) {
  .wish_inline_p{
    display: inline;
  }
}

.noty{
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  /* justify-content: center; */
  align-items: center;
  padding-left: 5%;
}

.noty img{
  width: 50px;
  margin: 3%;
}